<ion-header [translucent]="true">
  <ion-toolbar color = "dark">
    <ion-title>
      ToDo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id ="container">

    <ion-item *ngIf = 'tarefas.length < 1'> 
      <ion-label>Não há tarefas</ion-label>
    </ion-item>
    <ion-list>
      <ion-item *ngFor = "let item of tarefas">
        <ion-label>{{item.titulo}}</ion-label>
        <ion-checkbox checked = {{item.done}} slot = "start" color="danger" (ionChange) = "checkTarefa(item,$event)"></ion-checkbox>
        <ion-button color = 'light' (click)= "deletarTarefa(item)" > <ion-icon slot = "icon-only" name = "trash" color= "danger"> </ion-icon></ion-button>
        
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color = "dark">
    <ion-button expand = 'block' (click) = "criarTarefa()">Criar Tarefa</ion-button>
  </ion-toolbar>
</ion-footer>